@tailwind base;
@tailwind components;
@tailwind utilities;

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

.hamburger-line{
    @apply w-[20px] h-[1px] my-1.5 block bg-slate-700;
}

.hamburger-active > span:nth-child(1){
    @apply rotate-45
}
.hamburger-active > span:nth-child(2){
    @apply scale-0
}
.hamburger-active > span:nth-child(3){
    @apply -rotate-45
}

